.clothing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product-card {
    min-height: 600px;
    max-width: 22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 16px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px; 
    text-decoration: none;
}
.product-card h3{
    margin-top: 8px;
    text-align: left;
    font-size: 20px;
    color: rgb(110, 110, 110);
    padding: 10px;
    
}
.product-card .product-brand{
    margin-top: 7px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 10px;
    color :rgb(76, 75, 78);
    
}

.product-image {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-bottom: 0px;
   
}
.product-price{
    margin: 15px auto !important;
    font-weight: 600;
    color: #009688;
    padding-left: 13px;
    
}
.product-main-head{
    font-family: 'Rubik' , monospace ,sans-serif !important;
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
    color : #0B132A;
    margin: 40px;  
}
.product-card:hover{
    box-shadow: 4px 4px 5px grey;
}

.add-to-cart {
    background-color: #4caf50; 
    color: white; 
    padding: 10px 15px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-left: 20px;
    
  }
  
  .add-to-cart:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  .product-main-head{
    font-family: sans-serif;
    color: rgb(2, 59, 2);
    font-weight: 400;
    font-size: xx-large;
  }

  #filter-bar-top-section {
    display: flex;
    margin-left: 4%;
    justify-content: space-between;
    padding: 0.75% 1.5% 2% 2%;
    align-items: center;
    border-bottom: 1px solid rgb(240, 231, 231);
}

#filter-bar-top-section .recomended-head {
    display: flex;
    gap: 6px;
    align-items: center;
}

.recomended-section:hover .recomeded-filter-dropdown {
    display: block;
}

.recomeded-filter-dropdown {
    padding: 12px;
    height: auto;
    width: 235px;
    background: #FFFFFF;
    position: absolute;
    display: none;
    right: 6px;
}

.recomeded-filter-dropdown .recomended-dropdown-items {
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: flex-end;
    opacity: 65%;
}

.recomeded-filter-dropdown div {
    margin: 18px 2px;
}

.recomended-dropdown-items p {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: right;
}

  @media only screen and (max-width : 740px){
    .product-card{
       min-width: 75%;
       margin: 15px 6px;
    }
    .product-main-head{
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin: 40px 2px;  
  }
}