
.nav-main{
    box-sizing: border-box;
    box-shadow: 0px 5px 3px grey;
    position: sticky;
    top : 0px;
    z-index: 2;
}
.nav-logo b,span{
    font-size: 25px;
}
#title1-logo{
    margin-left: 10px;
}
.nav-items{
    font-size: 18px;
    margin-left: 16px;
    white-space: nowrap;
}
#icon-section{
    margin: 20px;
}
.nav-search{
    margin-right: 25px;
}
.nav-link:hover{
    color: tomato;
    font-size: 20px;
    border-bottom: 2px solid green;
}

#count-circle{
    text-align: center;
    margin-bottom: 0px;
    border-radius: 45%;
    height: 24px;
    width: 24px;
    color: tomato;
    font-family: monospace;
    font-size: 25px;

}

@media only screen and (max-width : 740px){
    .nav-main{
       max-width: 100%;
    }
    #title1-logo{
        margin-left: 2px;
    }
}
